body {
  color: #182C69 !important;
  min-height: 110vh;
}
.my_btn {
  background-color: #182C69 !important;
  color: white !important;
}
.data_div {
  position: relative;
}
.data_div::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100% !important;
  height: 3px !important;
  background-color: #182C69 !important;
}